http {

    error_page 599 700.html;
    error_page  500 999.html;
    error_page  404 404.html;

    server {

        server_names "  \\\"example\'.com " exa\;mple.co;
        allowed_methods POST GET ;

        listen 8888 8999 ;

        root ./z_site/ ;

        index index.html ;

        location /abt/ {
            root ./z_site/about ;
            autoindex on ;
        }

        location / {
            index index.html ;
        }

        location /about/ {
            autoindex  on ;
        }

        location /signin/ {
            return 302 /abt/ ;
        }

        location /bad {
            return 400 "bad request" ;
        }
    }
}
