http {

    error_page 599 700.html;
    error_page  500 999.html;

    server {
        server_names "  \\\"example\'.com " exa\;mple.co;
        allowed_methods GET;

        listen 8888 8999;

        root "/etc/nginx  ww";


        location /folder/index/ {

            
            root /bin/;
            upload_dir /uploads;
            return 404;
        }

        location /folder/ {

            error_page  599 OTHER.html;
            
        }
    }



    }