http {

    server {

    error_page 404 404.html;
       host localhost ;
       listen   8888 9999;
       root /Users/klamqari/Desktop/webserver/z_site/;
       allowed_methods POST GET HEAD;
       upload_dir /uploads/
       cgi_extention .php ;

        location /about {
            autoindex on;
            index about.html;
        }

        location / {
            return 301 /about;
        }
        
    }
}
